h1 {
  font-size: 4rem;
  animation: 
    you-spin-me-right-round 0.1s linear infinite,
    colorRotate 6s linear infinite;
}

}

@keyframes colorRotate {
  from {
    color: hex(#6666ff);
  }
  10% {
    color: hex(#0099ff);
  }
  50% {
    color: hex(#00ff00);
  }
  75% {
    color: hex(#ff3399);
  }
  100% {
    color: hex(#6666ff);
  }
}

@keyframes you-spin-me-right-round {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
